Client/src/META-INF/wsdl/localhost_8080/Service/ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ws">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Service/ws?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getEmployee">
<part name="parameters" element="tns:getEmployee"/>
</message>
<message name="getEmployeeResponse">
<part name="parameters" element="tns:getEmployeeResponse"/>
</message>
<message name="addConsignment">
<part name="parameters" element="tns:addConsignment"/>
</message>
<message name="addPortion">
<part name="parameters" element="tns:addPortion"/>
</message>
<message name="getConsignment">
<part name="parameters" element="tns:getConsignment"/>
</message>
<message name="getConsignmentResponse">
<part name="parameters" element="tns:getConsignmentResponse"/>
</message>
<message name="addEmployee">
<part name="parameters" element="tns:addEmployee"/>
</message>
<message name="listaAlunos">
<part name="parameters" element="tns:listaAlunos"/>
</message>
<message name="listaAlunosResponse">
<part name="parameters" element="tns:listaAlunosResponse"/>
</message>
<message name="payInstallment">
<part name="parameters" element="tns:payInstallment"/>
</message>
<message name="getPortion">
<part name="parameters" element="tns:getPortion"/>
</message>
<message name="getPortionResponse">
<part name="parameters" element="tns:getPortionResponse"/>
</message>
<portType name="ws">
<operation name="hello">
<input wsam:Action="http://ws/ws/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/ws/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getEmployee">
<input wsam:Action="http://ws/ws/getEmployeeRequest" message="tns:getEmployee"/>
<output wsam:Action="http://ws/ws/getEmployeeResponse" message="tns:getEmployeeResponse"/>
</operation>
<operation name="addConsignment">
<input wsam:Action="http://ws/ws/addConsignment" message="tns:addConsignment"/>
</operation>
<operation name="addPortion">
<input wsam:Action="http://ws/ws/addPortion" message="tns:addPortion"/>
</operation>
<operation name="getConsignment">
<input wsam:Action="http://ws/ws/getConsignmentRequest" message="tns:getConsignment"/>
<output wsam:Action="http://ws/ws/getConsignmentResponse" message="tns:getConsignmentResponse"/>
</operation>
<operation name="addEmployee">
<input wsam:Action="http://ws/ws/addEmployee" message="tns:addEmployee"/>
</operation>
<operation name="listaAlunos">
<input wsam:Action="http://ws/ws/listaAlunosRequest" message="tns:listaAlunos"/>
<output wsam:Action="http://ws/ws/listaAlunosResponse" message="tns:listaAlunosResponse"/>
</operation>
<operation name="payInstallment">
<input wsam:Action="http://ws/ws/payInstallment" message="tns:payInstallment"/>
</operation>
<operation name="getPortion">
<input wsam:Action="http://ws/ws/getPortionRequest" message="tns:getPortion"/>
<output wsam:Action="http://ws/ws/getPortionResponse" message="tns:getPortionResponse"/>
</operation>
</portType>
<binding name="wsPortBinding" type="tns:ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addConsignment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addPortion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getConsignment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEmployee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="listaAlunos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="payInstallment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPortion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ws">
<port name="wsPort" binding="tns:wsPortBinding">
<soap:address location="http://localhost:8080/Service/ws"/>
</port>
</service>
</definitions>